html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


body {
    background-color: #fff;
    margin: 0;
  /* Typography Declarations */
    font-family: 'Roboto', sans-serif;
    color: #262526;
    letter-spacing: 0.03em;
    padding: 0;
    border: 0;
}

.top-navigation {
  top: 0;
  background-color: #7d7a91;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header {
    padding: 0 0.5rem;
    margin: 0 auto;
    height: 2.8rem;
    width: 53rem;
}

.top-navigation > .header ul {
  margin: 0;
  padding-top: 0.5em;
  list-style-type: none;
}

.top-navigation .links {
    float: right;
    color: #4c5058;
    font-size: 1.04rem;
}

.top-navigation .header li {
    display: inline-block;
    padding: 1em 0.7em;
}

.top-navigation .header .links li.active {
    color: #4c5058;
    font-weight: 500;
}

a {
  /* Typography Declarations */
  text-decoration: none;
  color: #fff;
}

a:hover {
  /* Typography Declarations */
  color: #999;
  cursor: pointer;
}

a:active {
  /* Typography Declarations */
  color: #4c5058;
}

.introduction > .overview {
  padding: 5rem;
  width: auto;
  height: 45.938rem;
  text-align: left;
  background-image: url('../img/nyleva-mount-washburn.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.introduction h1, h2, p {
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  width: 23rem;
}

.introduction {
  margin: 10px 10px 10px 25px;
  width: auto;
}

.overlay {
   background-color: #333;
   opacity: 0.6;
   width: 27rem;
   padding: 0.5rem 2rem;
   margin-bottom: 0.5rem;
}

.overview > button.big {
  color: #fff;
  background: #7d7a91;
  padding: 0.5em 1em;
  border-style: none;
  border-radius : 4px;
  font-size: 1.1em;
  line-height: 1.33;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.overview > button.big:hover, .big:focus {
  background: #4b3f94;
  text-decoration: none;
  cursor: pointer;
}

.projects {
  padding: 1rem 3rem;
  background-color: #7d7a91;
}

.projects h1 {
  color: #fff;
  font-weight: 200;
}

.middle {
  width: auto;
}

.middle h2 {
  font-weight: 400;
}

.project1, .project2, .project3 {
  float: left;
  margin: 0.3rem;
}

.project1 a {
  color: #7d7a91;
  text-decoration: none;
}

.project2 a {
  color: #7d7a91;
  text-decoration: none;
}

.project3 a {
  color: #7d7a91;
  text-decoration: none;
}

.project1 a:hover {
  color: #333;
  cursor: pointer;
}

.project2 a:hover {
  color: #333;
  cursor: pointer;
}

.project3 a:hover {
  color: #333;
  cursor: pointer;
}

.project1 a:active {
  color: #4c5058;
}

.project2 a:active {
  color: #4c5058;
}

.project3 a:active {
  color: #4c5058;
}

.facts {
  float: left;
  padding: 1rem 3rem;
  background-color: #7d7a91;
  width: auto;
}

.bottom {
  width: 82.75rem;
}

.facts h1 {
  color: #fff;
  font-weight: 200;
  margin-top: 1rem;
}

.bottom p {
  color: #262526;
  width: auto;
}

@media screen and (max-width: 875px) {
    .header {
   width: 28rem;
}
}

@media screen and (max-width: 575px) {
    .introduction h1, h2, p {
  width: 15rem;
}
.overlay {
   width: 20rem;
}

@media screen and (max-width: 475px) {
    .header {
   width: 23rem;
}
.introduction h1, h2, p {
 width: 10rem;
}
.introduction {
  margin: 5px 5px 5px 15px;
  width: auto;
}
.overlay {
   width: 14rem;
}
.facts p {
  color: #262526;
  width: 45rem;
}
}

